@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-Light.ttf");
    font-weight: lighter;
}

body {
    font-family: OpenSans;
    overflow-x: hidden;
}

button, input, optgroup, select, textarea {
    font-family: OpenSans !important;
}

@media (min-width: 1200px){ 
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1100px;
    }
}

a {
    color: #36393d;
    text-decoration: none;
}

a:hover {
    color: #36393d;
}

p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #36393d;
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
    margin-bottom: 15px;
    overflow-wrap: anywhere;
}

h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.navbar {
    background-color: #2569a8;
    color: white;
    height: 10vh;
    max-height: 70px;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 14px;
}

.navbar .btn {
    padding: 5px 10px;
}

.navbar .collapsed .navbar-toggler-icon {
    background-image: url("../images/menu-1.svg") !important;
}

.navbar .navbar-toggler-icon {
    background-image: url("../images/mobile-menu-close.svg");
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand {
    padding: 0px;
    margin: 0px;
}

.google-review.hide {
    display: none !important;
}

.navbar .language-section img {
    margin-right: 10px;
}

.navbar .language-section .dropdown-item {
    display: flex;
}

@media (min-width: 1200px){
    .navbar-expand-xl .navbar-nav {
        flex-direction: row;
        align-items: center;
    }
}

.menu-dropdown-bg {
    background-color: #1A4E8A;
    opacity: 0.2;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

.menu-dropdown-bg.show {
    display: block;
}

.dropdown-menu {
    padding: 0px;
    border: none;
    border-radius: 0px;
}

.dropdown-menu a {
    color: #36393d;
    margin: 0px;
    padding: 8px 26px;
}

.dropdown-toggle.show::after {
    transform: rotate(-180deg) translate(0px, 50%);
}

.dropdown-toggle::after {
    background-image: url('../images/menu-arrow.svg');
    position: absolute;
    width: 15px;
    background-position: center;
    height: 15px;
    background-repeat: no-repeat;
    border: none !important;
    top: 50%;
    margin-left: 2px;
    transform: translate(0px, -50%);
}


.dropdown-toggle.show {
    font-weight: bold;
}

.dropdown .dropdown-toggle {
    margin-right: 15px;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #2569a8;
    color: white;
}

.dropdown-menu[data-bs-popper] {
    top: 52px;
    left: unset !important;
    margin-top: .125rem;
    right: 0px !important;
}

.dropdown-item-header {
    font-weight: bold;
    white-space: nowrap;
    font-size: 14px;
    padding: 8px 26px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.dropdown-menu .dropdown-section li:last-child a {
    border-color: transparent;
}

.dropdown-menu.with-border a {
    border-bottom: 1px solid #F8F8F8;
}

.nav-link:focus, .nav-link:hover {
    color: white;
}

main .container {
    padding-left: 20px;
    padding-right: 20px;
}

main .row {
    width: 92%;
    margin: auto;
}

.google-reviews {
    display: flex;
    font-size: 15px;
}

.google-reviews div {
    margin-left: 5px;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}

.btn {
    padding: 15px 20px;
    color: white;
    width: fit-content;
    border-radius: 8px;
}

.btn:hover {
    color: white;
}

.btn-main {
    background-color: #328fe6;
}

.btn-hero {
    background-color: #2569a8;
}

.btn-gradient {
    padding: 0px !important;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
}

.btn-gradient p {
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    background: #328fe6;
    padding: 16px 30px;
    border-radius: 8px;
    color: #fff;
    position: relative;
    z-index: 99;
    margin-bottom: 0px !important;
}

.btn-gradient p:after {
    content: "";
    width: 60%;
    height: 100%;
    background: transparent linear-gradient(188deg, #a1cbf18a 30%, #328fe6 70%) 0% 0% no-repeat padding-box;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: ellipse(80% 100% at 80% 90%);
    z-index: -1;
    border-radius: 0 8px 8px 0;
}

.btn-gradient-orange {
    padding: 0px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    margin: auto;
}

.btn-gradient-orange p {
    font-size: 20px;
    line-height: 27px;
    background: #fcaf2a;
    padding: 10px 30px;
    border-radius: 8px;
    color: #fff;
    position: relative;
    z-index: 99;
    margin-bottom: 0px;
}

.btn-gradient-orange p:after {
    background: transparent linear-gradient(
188deg , #ff5e246b 30%, #fcaf2a 70%) 0% 0% no-repeat padding-box;
content: "";
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: ellipse(80% 100% at 80% 90%);
    z-index: -1;
    border-radius: 0 8px 8px 0;
}

.btn-outline-white {
    border-color: white;
}

section {
    padding: 130px 0px 130px 0px;
}

.bg-gray {
    background-color: #f7f7f7;
}

.bg-gray-2 {
    background-color: #EBEBEB;
}

.bg-gray-3 {
    background-color: #E8E8E8;
}

.bg-image {
    background-image: url(../images/bg-image.png);
    background-position: center;
    background-size: cover;
    padding: 0px;
    height: 90vh;
    min-height: 608px;
    overflow: hidden;
}

.bg-image .container,
.bg-image .row {
    height: 100%;
}

.bg-image .vertical-center {
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
}

.background-mobile {
    display: none;
}

.bg-gradient {
    background-color: #2569A8;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
}

.bg-gradient .fw-bold {
    font-weight: normal !important;
}

.bg-gradient img {
    position: relative;
    z-index: 2;
}

.bg-gradient:after {
    content: "";
    width: 50%;
    height: 100%;
    background: transparent linear-gradient(
188deg
, #a1cbf14f 30%, #2569a8 70%) 0% 0% no-repeat padding-box;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: ellipse(80% 100% at 80% 75%);
}

.smaller-section-padding {
    padding: 70px 0px 70px 0px;

}

.bg-gradient p {
    color: white;
}

.bg-gradient h2 {
    margin-bottom: 50px;
}

.bg-gradient img {
    width: 160px;
    margin-bottom: 20px;
}

.btn-white {
    color: #2569A8;
    background-color: white;
    font-size: 21px;
    padding: 10px 19px;
}

.btn-white:hover {
    background-color: white;
    color: #2569A8;
}

.color-blue {
    color: #2569A8;
}

.btn-bottom-wrap {
    position: relative;
    height: 100%;
    width: 100%;
}

.btn-bottom {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.card {
    padding: 30px;
    border-radius: 20px;
    border: none;
    align-items: start;
}

.card h1 {
    margin-top: 15px;
}

.card p {
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.2;
}

.card .btn {
    margin-bottom: 30px;
}

.card .btn p {
    font-size: 28px !important;
    font-weight: bold;
}

.rounded-start {
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
}

.odd-even-bg .odd-even-bg-item:nth-child(even) {
    background-color: #EBEBEB;
}

.odd-even-bg .odd-even-bg-item:nth-child(odd) {
    background-color: #F7F7F7;
}

@media (min-width: 1200px) {
    .odd-even-bg .col-xl-3 {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .odd-even-bg .col-xl-1 {
        flex: 0 0 auto;
        width: 10%;
    }
}

.odd-even-bg .item {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

.odd-even-bg img {
    margin-bottom: 20px;
}

.odd-even-bg .item h4 {
    font-size: 18px;
    font-weight: bold;
}

.odd-even-bg .item p {
    font-size: 16px;
    margin-bottom: 0px;
}

.ordered-list {
    margin-top: 40px;
}

.ordered-list ol {
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
}

.ordered-list ol li {
    width: 31%;
    position: relative;
    background-color: white;
    padding: 50px 30px;
    border-radius: 20px;
}

.ordered-list ol:after {
    content: "";
    background: #A1CBF1;
    width: 72%;
    height: 6px;
    display: block;
    position: absolute;
    margin: auto;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1;
}

.ordered-list ol li:before {
    position: absolute;
    background: #2569a8;
    width: 55px;
    height: 55px;
    font-size: 30px;
    border-radius: 50%;
    top: -25px;
    text-align: center;
    color: #fff;
    border: 5px solid #F7F7F7;
    padding: 5px;
    left: 50%;
    transform: translate(-50%, 0px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.ordered-list ol li:nth-child(1)::before {
    content: '1';
}

.ordered-list ol li:nth-child(2)::before {
    content: '2';
}

.ordered-list ol li:nth-child(3)::before {
    content: '3';
}

.ordered-list ol li .card-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-bottom: 22px;
}

.ordered-list ol li .card-header p {
    margin-left: 20px;
}

.text p {
    margin-bottom: 30px;
}

.text .p-clear {
    margin-top: 30px;
}

.normal-list {
    margin-top: 30px !important;
}

.normal-list ul {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%232569A8' width='10' height='10' viewBox='-1 -1 2 2'><circle r='1'/></svg>");
    padding-left: 20px;
}

.normal-list ul li {
    margin-bottom: 25px;
    font-size: 18px;
}

.custom-list p {
    margin-bottom: 20px;
}

.custom-list ul {
    list-style: none;
    padding-left: 0px;
}

.custom-list li { 
    padding: 2px 5px 20px 40px;
    background-image: url(../images/list-check-icon.svg);
    background-repeat: no-repeat;
} 

.accordion-button::after {
    background-image: url("../images/arrow-down.svg");
    background-position: center;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/arrow-down.svg");
    background-position: center;
}

.accordion-button p {
    margin-bottom: 0px;
    width: 90%;
}

.accordion-item {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #a6acb3;
    color: #474747;
}

.accordion-item:last-of-type .accordion-collapse,
.accordion-item:first-of-type {
    border-radius: 0px;
}

.accordion-item.border-mobile {
    border-color: transparent;
}

.accordion-button {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
}

.accordion-body {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion-body ul {
    padding-left: 20px;
}

.accordion-button:not(.collapsed) {
    color: #36393d;
    background-color: white;
    box-shadow: none;
    background-color: transparent;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion .collapse:not(.show) {
    height: 0px !important;
    opacity: 0 !important;
    display: block !important;
}

.slick-track {
    display: flex;
}

.single-item {
    background-color: #F5F5F5;
    margin-right: 10px;
    height: initial;
}

.single-item p {
    color: #5C6166;
}

.single-item .thumbnail-wrap img {
    width: 100%;
}

.item-body {
    padding: 20px;
}

.item-body .star-check-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.slide-number {
    position: absolute;
    top: 10px;
    left: 200px;
    padding: 6px 15px;
    background-color: rgba(0, 0, 0, 0.404);
    z-index: 3;
    border-radius: 20px;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: unset !important;
}

.slide-number .swiper-pagination {
    margin: 0px;
    color: white;
}

.slide-number .swiper-pagination-current {
    margin-right: -3px;
}

.slide-number .swiper-pagination-total {
    margin-left: -3px;
}

.swiper-pagination {
    margin-top: 20px;
    position: relative;
}

footer {
    color: white;
}

footer .top-footer {
    background-color: #2569A8;
    padding: 50px 0px 50px 0px;
}

footer .contact .btn {
    margin-top: 20px;
    margin-bottom: 0px;
}

footer .contact-item {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

footer .contact-item p{
    margin-left: 10px;
    margin-bottom: 0px;
}

footer .bottom-footer-items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

footer .bottom-footer-items .footer-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer .bottom-footer-items .footer-images img {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

footer h1 {
    font-size: 26px;
    font-weight: bold;
}

footer a {
    color: white;
    font-size: 16px;
}

footer .socials img {
    width: 40px;
    height: 40px;
}

footer .socials a {
    margin-right: 5px;
}

footer ul {
    list-style-type: "›";
    padding-left: 8px;
}

footer ul li {
    padding-left: 5px;
    margin-bottom: 10px;
}

footer ul li::marker {
    font-size: 24px;
}

footer p {
    font-size: 16px;
    color: white;
}

footer a:hover {
    color: white;
}

footer .bottom-footer {
    background-color: #1A4E8A;
    padding: 50px 0px 50px 0px;
}

footer .border-right {
    border-right: 1px solid white;
}

footer .footer-section {
    margin-top: 35px;
    margin-bottom: 35px;
}

@media screen and (max-width: 1200px) {
    .dropdown-toggle::after {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .dropdown-toggle.show {
        font-weight: bold;
        border-color: transparent !important;
    }
    
    .dropdown-menu {
        background-color: #2F77BA;
    }

    .dropdown-section-2 {
        background-color: #2B85D9;
    }

    .dropdown-section-3 {
        background-color: #2F92ED;
    }

    .navbar {
        overflow-y: auto;
        max-height: 100vh;
        height: fit-content;
    }

    .navbar .container {
        max-width: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .navbar .nav-link,
    .navbar .dropdown-item,
    .dropdown-menu .dropdown-item-header p,
    .navbar .btn {
        width: 90%;
        margin: auto;
        position: relative;
    }

    .navbar .btn {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #2569a8;
        border: 1px solid #F8F8F8;
    }

    .navbar .btn p {
        background-color: #2569a8;
        padding: 20px;
        font-weight: bold;
    }

    .navbar .btn p:after {
        background: transparent linear-gradient(188deg, #428acd 30%, #296ead 70%) 0% 0% no-repeat padding-box;
    }

    .nav-item .nav-link {
        border-bottom: 1px solid #91b2d1;
        color: #F8F8F8;
    }

    .nav-item .nav-link p {
        color: #F8F8F8;
    }

    .dropdown-menu a {
        color: #F8F8F8;
        border-bottom: 1px solid #91b2d1;
        padding-left: 0px;
        padding-right: 0px;
    }

    .dropdown-item-header {
        margin-top: 0px;
        color: #F8F8F8;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
    }

    .navbar a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }

    li.nav-item:last-child .dropdown-toggle {
        border-color: transparent;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        background-color: transparent;
    }

    main .row,
    footer .row {
        width: 100%;
        margin: auto;
    }

    section {
        padding: 40px 0px 40px 0px;
    }

    .smaller-section-padding {
        padding: 40px 0px 40px 0px;
    }

    .container-fluid {
        max-width: 540px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .bg-image {
        background-image: none;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        padding-bottom: 0px;
        height: max-content;
        padding: 0px;
        background-color: #EBEBEB;
    }

    .bg-image .row {
        margin-top: -85px;
    }

    .background-mobile-wrap {
        width: 100%;
        margin-top: -13px;
        overflow: hidden;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .background-mobile {
        display: block;
        width: 130%;
        left: -15%;
        position: relative;
    }

    .btn-bottom-wrap {
        bottom: unset;
    }

    .btn-bottom {
        top: -14px;
        bottom: unset;
    }

    .btn-bottom-wrap .btn{
        padding: 5px 10px;
        font-size: 14px;
    }

    .btn-gradient p {
        padding: 10px 13px;
    }


    .ordered-list ol {
        list-style: none;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        position: relative;
    }

    .ordered-list ol li {
        width: 100%;
        position: relative;
        background-color: white;
        padding: 50px 30px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    
    .ordered-list ol li:before {
        text-align: center;
        color: #fff;
        border: 5px solid #F7F7F7;
        padding: 5px;
        left: -25px;
        top: 25%;
        transform: translate(0%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ordered-list ol:after {
        content: "";
        background: #A1CBF1;
        width: 6px;
        height: 70%;
        display: block;
        position: absolute;
        margin: auto;
        top: 8%;
        left: 0px;
        transform: translate(0%, 0%);
        z-index: 1;
    }

    .card {
        padding: 40px 25px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        text-align: center;
        align-items: center;
        margin-bottom: 5px;
    }

    .card div {
        padding-left: 15px;
        padding-right: 15px;
    }

    .card p {
        font-size: 19px;
    }

    .card .btn p {
        font-size: 19px !important;
    }

    .card h1 {
        font-weight: bold;
        white-space: nowrap;
        font-size: 21px;
    }

    .odd-even-bg {
        padding-bottom: 30px;
    }

    .odd-even-bg .odd-even-bg-item:nth-child(even),
    .odd-even-bg .odd-even-bg-item:nth-child(odd) {
        background-color: transparent;
    }

    .odd-even-bg .odd-even-bg-item:nth-child(even) .item {
        background-color: #2569A8;
    }

    .odd-even-bg .odd-even-bg-item:nth-child(odd) .item {
        background-color: #2E82D1;
    }

    .odd-even-bg .odd-even-bg-item .item {
        margin-top: 5px;
        border-radius: 10px;
        margin-bottom: 5px;
        padding: 30px;
    }

    .odd-even-bg .item,
    .odd-even-bg .item p {
        color: white;
    }

    .odd-even-bg .item h4 {
        margin-bottom: 10px;
    }

    .odd-even-bg img {
        margin-bottom: 10px;
    }

    .custom-list p {
        font-size: 18px;
    }

    footer .border-right {
        border-right: none;
    }

    footer .top-footer {
        padding: 50px 0px 50px 0px;
        
    }

}

@media screen and (max-width: 990px) {
    .slide-number {
        left: 120px;
    }
}

@media screen and (max-width: 767px) {
    p {
        font-size: 17px;
        line-height: 27px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 24px;
        line-height: 33px;
    }

    .text .d-inline {
        display: block !important;
    }

    .text p {
        margin-bottom: 30px !important;
    }
    

    .bg-white-mobile {
        background-color: white;
    }

    .bg-gray-mobile {
        background-color: #F5F5F5;
    }
    
    .slide-number {
        left: 150px;
    }

    .slide-wrap {
        padding: 0px !important;
    }

    .margin-bottom-mobile {
        margin-bottom: 20px;
    }

    .accordion-item.border-mobile {
        border-color: #a6acb3;
    }

    .bg-gradient h2 {
        font-weight: bold;
        margin-bottom: 30px;
    }

    .bg-gradient:after {
        width: 0;
    }

    /*.bg-gradient .col-md-6:last-child {
        position: relative;
    }*/

    .bg-gradient .col-md-6:last-child:after {
        content: "";
        width: 100%;
        height: 28%;
        background: transparent linear-gradient( 
    188deg
     , #a1cbf14f 30%, #2569a8 70%) 0% 0% no-repeat padding-box;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        clip-path: ellipse(190% 100% at 100% 100%);
    }

    .bg-gradient .container {
        padding: 0px !important;
    }

    .bg-gradient .col-md-6 {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }

    .bg-gradient .fw-bold {
        font-weight: bold !important;
    }

    .bg-gradient-section-center {
        text-align: center;
    }

    .bg-gradient-section-center h2 {
        font-weight: normal;
    }

    footer .socials {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    footer .bottom-footer-items .bottom-footer-link a {
        display: block;
        margin: 15px 0px 15px;
    }

    footer .bottom-footer-items .bottom-footer-link span {
        display: none;
    }

    footer .bottom-footer-items .footer-images {
        flex-wrap: wrap;
    }

    footer .bottom-footer-items .footer-images img {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 573px) {
    .slide-number {
        left: 30%;
    }
}

@media screen and (max-width: 449px) {
    .slide-number {
        left: 80%;
    }
}

@media screen and (max-width: 412px) {
    .card h1 {
        font-size: 19px;
    }

    .card p {
        font-size: 18px;
    }

    .card .btn p {
        font-size: 18px !important;
    }
}
