body {

}

@media (min-width: 1200px){ 
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1100px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

p {
    margin-bottom: 0px;
}

h1 {
    margin-bottom: 20px;
}

.navbar {
    background-color: #2569a8;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}

.nav-link:focus, .nav-link:hover {
    color: white;
}

.dropdown-menu a {
    color: black;
}

.google-reviews {
    display: flex;
    font-size: 15px;
}

.google-reviews div {
    margin-left: 5px;
}

.btn {
    padding: 3px 10px;
    color: white;
    width: fit-content;
}

.btn-main {
    background-color: #328fe6;
}

.btn-outline-white {
    border-color: white;
}

section {
    padding: 130px 0px 130px 0px;
}

.bg-gray {
    background-color: #f7f7f7;
}

.bg-gray-2 {
    background-color: #EBEBEB;
}

.bg-image {
    background-image: url(../images/bg-image.png);
    background-position: center;
    background-size: cover;
}

.bg-gradient {
    background-image: url(../images/bg-gradient.svg) !important;
    background-position: center;
    background-size: cover;
    color: white;
}

.btn-white {
    color: #2569A8;
    background-color: white;
}

.card {
    padding: 80px 15px;
    border: none;
}

.rounded-start {
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;

}

.odd-even-bg .col-3:nth-child(even) {
    background-color: #EBEBEB;
}
.odd-even-bg .col-3:nth-child(odd) {
    background-color: #F7F7F7;
}

.accordion-item {
    border: none;
}

.accordion-button {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion-body {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion .collapse:not(.show) {
    height: 0px !important;
    opacity: 0 !important;
    display: block !important;
}



footer {
    color: white;
}

footer .top-footer {
    background-color: #2569A8;
    padding: 150px 0px 50px 0px;
}

footer h1 {
    font-size: 26px;
}

footer a {
    color: white;
}

footer ul li a:hover {
    color: white;
}

footer .bottom-footer {
    background-color: #1A4E8A;
    padding: 50px 0px 50px 0px;
}

footer .border-right {
    border-right: 1px solid white;
}